/* hide breadcrumbs, search bar and system footer */ 
#s-lib-bc {
  display: none;
}

#s-lib-footer-public {
  display: none;
}

#s-lg-guide-header-search {
  display: none;
}

/*------FLEET SEARCH BOX WIDGET------*/

.search-title {
  font-family: 'RISD Complete', Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
font-size: 5rem;
  color:#2454FF;
}

.search-tabs {
  max-width: 800px;
  margin: 2rem auto;
  border: 0px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background: #fff;
}

.tab-buttons {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tab-btn {
  flex: 1;
  padding: 0.5rem;
  background: #E0E0DD;
  border: none;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  font-size: 1.5rem;
}

.tab-btn.active {
  background: #2454FF;
  color: #fff;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tab-content input[type="text"] {
  flex: 1;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.5rem;
}

.tab-content button[type="submit"] {
  padding: .5em 1em 0em 1em;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-info {
  font-size: 1.2rem;
  color: #000;
  background: #E0E0DD;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  min-height: 2.2em;
}
