/************** System-Wide Styles **********/

:root {
    --color-gray: #F5F5F3;
    --color-dark-gray: #b6b6b6;
    --color-blue: #2454FF;
    --color-white: #FFFFFF;
    --color-black: #000;

    --font-primary: 'RISD Sans', Arial, Helvetica, sans-serif;
    --font-secondary: 'RISD Serif Complete', serif;
    --font-accent: 'RISD Serif SemiComplete', 'Georgia', serif;
}

/* Global Typography */

@font-face {
    font-family: "RISD Sans";
    font-style: normal;
    font-weight: 100;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Sans_Variable.woff2') format("woff2-variations");
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Sans-Regular.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Sans";
    font-weight: 700;
    font-display: fallback;
    src: url('//www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Sans-Bold.woff') format("woff");
}

@font-face {
    font-family: "RISD Sans";
    font-style: italic;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Sans-Regular_Italic.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Serif Complete";
    font-style: normal;
    font-weight: 100;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Complete_Variable.woff2') format("woff2-variations");
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Complete-Light.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Serif Complete";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Complete_Variable.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Serif Complete";
    font-style: italic;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Complete-Light_Italic.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Serif SemiComplete";
    font-style: normal;
    font-weight: 100;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Semi-Complete_Variable.woff2') format("woff2");
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_SemiComplete-Light.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Serif SemiComplete";
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Semi-Complete_Variable.woff2') format("woff2");
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_SemiComplete-Light.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Serif Semicomplete";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_SemiComplete-Semibold.woff2) format("woff2");
    src: url(http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Semi-Complete_Variable.woff2) format("woff2");
}

@font-face {
    font-family: "RISD Serif Semicomplete";
    font-style: normal;
    font-weight: bold;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_SemiComplete-Bold.woff2') format("woff2");
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Semi-Complete_Variable.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Serif Semicomplete";
    font-style: italic;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Semi-Complete_Italic_Variable.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Serif Incomplete";
    font-style: normal;
    font-weight: 100;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Incomplete-Light.woff2') format("woff2");
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Incomplete_Variable.woff2') format("woff2");
}

h1{
    font-family: var(--font-secondary);
    font-weight: 100;
}

h2 {
    font-family: var(--font-secondary) !important;
    font-size: 30px !important;
    font-weight: 100 !important;
}

h3 {
    font-family: var(--font-secondary) !important;
    font-size: 24px;
    font-weight: 100 !important;
    margin-top: 0;
}

h4, h5, h6 {
    font-family: var(--font-primary) !important;
    font-weight: 700;
}

body {
    font-family: var(--font-primary) !important;
    font-size: 16px;
/*    padding-left: 0 !important;
    padding-right: 0 !important;  trying without this for now - messes up mobile view */
}

/* This was added more specifically with a .s-lib-box-content class, trying it at the "a" level for now */
a, a:visited {
    font-family: inherit;
    color: var(--color-blue);
    text-decoration: none;
}

a:hover, a:focus, a:visited:hover {
    color: var(--color-blue);
    text-decoration: underline;
}


/*   Footer   */

.footer-risd {
    padding: 60px;
    background-color: var(--color-black);
    max-width: 100 !important;
}

.footer-risd, .footer-risd a {
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: 16px;
}

.footer-risd .container {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-risd a {
    border-bottom: 2px solid;
    padding-bottom: 2px;
}

.footer-risd a:hover {
    border-color: var(--color-black);
    color: var(--color-white);
}

.risd-seal svg {
    fill: var(--color-white);
    max-width: 116px;
    height: auto;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

/* Footer meta */
#s-lib-footer-public {
    margin-bottom:0;
    background-color: var(--color-white);
    border-top: 0;
}

/* Mobile */
@media (max-width: 576px) { 
    h1.search-title {
        font-size: 48px;
    }

    input[type="text"] {
        font-size: 16px;
    }

    .layout-2x2 {
        margin-bottom: 20px;
    }

    .layout-2x2 .libguides--gray-box {
        width: 100%;
    }

    .layout-2x2 a {
        margin-bottom: 16px;
    }

    /* Mobile Hours */
    th.s-lc-w-head {
        display: flex;
        flex-direction:column;
    }
    .s-lc-w-next {
        float: none;
        position: relative;
        margin-bottom: 8px !important;
        order: 2;
    }

    .s-lc-w-previous {
        float: none;
        position: relative;
        left: 0;
        margin-bottom: 8px !important;
        order: 1;
    }
    .s-lc-w-head > span {
        width: 100%;
        order: 0;
        margin-bottom: 8px;
    }
    .s-lc-w-today-view-all {
        text-align: center;
    }

    .footer-risd {
        padding: 30px;
    }
}


/* Mobile Nav Button */
@media (max-width: 924px) {

    /* what is this? */
    .cta-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        float: right;
        width: 45px;
        height: 45px;
        padding: 0 6px 2px;
        box-sizing: border-box;
        background-color: var(--color-blue);
        transition-property: bottom,left,right;
        transition-duration: 0.35s;
        transition-timing-function: ease-in-out;
        border: none;
        cursor: pointer;
    }

    .cta-menu .cta-menu__wrapper {
        position: relative;
        background-color: var(--color-blue);
        width: 21px;
        height: 21px;
        padding: 0;
    }

    .cta-menu .cta-menu__icon {
        position: absolute;
        top: 10px;
        left: 0;
        width: 21px;
        height: 3px;
        background-color: var(--color-white);
        transition: 0.5s;
        border: 0;
        padding: 0;
    }

    .cta-menu .cta-menu__icon::before {
        top: -9px;
        left: 0;
    }

    .cta-menu .cta-menu__icon::after {
        top: 9px;
        left: 0;
    }

    .cta-menu .cta-menu__icon::before,.cta-menu .cta-menu__icon::after {
        content: "";
        position: absolute;
        width: 21px;
        height: 3px;
        background-color: var(--color-white);
        transition: 0.5s;
    }
}

/* Hide Menu Label on Mobile */
@media (max-width: 670px) {
    .menu-label {
        display: none;
    }
}

/* New Edits from Catherine */
.s-lib-header.container,
#s-lg-guide-main,
#s-lg-guide-tabs-title-bar,
#s-lg-tabs-container {
    margin-bottom: 0;
    margin-top: 0;
}

/* This block doesn't have any content. Removing margins to eliminate the unecessary spacing between components. */
#s-lg-guide-tabs-title-bar {
    margin: 0;
}

.s-lib-header h1#s-lg-guide-name {
    font-family: var(--font-secondary);
    font-weight: 100;
    font-size: 36px !important;
    color: var(--color-black);
    margin-bottom: 16px;
    padding: 0;
}

#s-lg-guide-header-info {
    margin-bottom: 20px;
}

.s-lib-box-content {
    padding: 12px 8px;
}

/* modify look of box-level tab navigation */
.s-lg-tabs-side .s-lg-boxnav .list-group-item {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--color-white);
    border-color: var(--color-blue);
}

/* Box headers */

h2.s-lib-box-title {
    text-transform: uppercase !important;
    letter-spacing: 0;
    font-size: 16px !important;
    font-family: var(--font-primary) !important;
}

/* Separate side and top nav styles have been removed */

/* Guide search */

#s-lg-guide-search-form input {
    box-shadow: none;
    border: 0;
    border-radius: 0;
}

input#s-lg-guide-search-terms {
    border-bottom: 1px solid var(--color-black);
    outline: 0;
    padding-left: 0;
}

.input-group-btn button.btn {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 0 !important;
    border: 0;
    margin-left: 16px !important;
}

/* ensure floating boxes have padding */
.s-lib-floating-box {
  padding: 10px;
}

/*add more space under top-nav tabs*/
.s-lib-main {
  padding-top: 25px;
}

/* more space between tabs */
#s-lg-guide-tabs .nav-tabs>li {
    margin-right: 4px !important;
    margin-bottom: 4px !important;
    margin-top: 0px;
}

a.s-lg-tab-top-link.pull-left {
    margin-right: 0px !important;
}

#s-lg-guide-tabs .nav-pills>li {
    margin-top: 4px !important;
}

.s-lg-subtab-ul {
    margin-top: 0 !important;
}

/* un-bold font in various places */
.panel-heading .bold,
.s-lg-gtitle .bold,
#s-lib-bc-list li,
.s-lg-small-bold a, 
#s-lg-guide-tabs .nav-pills > li > a,
#s-lg-guide-tabs .nav-tabs > li > a,
a.s-lg-tab-top-link {
 font-weight: 100 !important;
}

/* Make E-Reserves titles bold */
li.s-lg-er-item>a {
  font-family: var(--font-primary);
  font-weight: 700;
}

/* adjustments to tab dropdown menu */

#s-lg-tabs-container .nav .dropdown-toggle .caret {
  border-top-color: var(--color-black);
  padding-bottom: 5px;
}

#s-lg-tabs-container .nav .dropdown-toggle .caret:hover,
#s-lg-tabs-container .nav .dropdown-toggle .caret:focus {
  padding-bottom: 5px;
}

#s-lg-tabs-container .nav-tabs > li > a.s-lg-tab-drop {
    padding: 4px 10px 4px 8px;
}

#s-lg-tabs-container .nav-tabs > li > a.s-lg-tab-drop:hover,
#s-lg-tabs-container .nav-tabs > li > a.s-lg-tab-drop:focus {
    border-top-color: var(--color-white);
    padding: 4px 10px 4px 8px;
}


/*--BUTTONS--*/

button,
a.button,
.btn-info,
.s-lib-profile-email .label-info {
  cursor: pointer;
  border-radius: 0;
  border: 2px solid var(--color-blue);
  background-color: transparent;
  color: var(--color-blue);
  font-weight: 100;
  text-decoration: none;
  transition-property: color, background-color;
  transition-duration: .25s;
  transition-timing-function: ease-out;
}

a.button:active, button:active,
a.button:focus, button:focus,
a.button:hover, button:hover,
.btn-info.active,
.btn-info:focus,
.btn-info:hover,
.s-lib-profile-email .label-info:focus,
.s-lib-profile-email .label-info:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

/* all guides index page */

.nav-pills>li.active>button,
.nav-pills>li.active>button:focus,
.nav-pills>li.active>button:hover {
  color: #fff;
  background-color: var(--color-blue);
  text-decoration: none;
  border-radius: 0;
}

.nav .s-lg-index-nav-btn>button {
  color: var(--color-blue);
}

.nav .s-lg-index-nav-btn>button:hover {
  border-radius: 0;
}